<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.StuMapper">
    <insert id="addStu">
        insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
        name,
        no,
        gender,
        phone,
        degree,
        clazz_id,
        id_Card,
        <if test="isCollege != null">is_College</if>,
        <if test="address != null">address</if>,
        <if test="graduationDate != null">graduation_Date</if>


    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        #{name},
        #{no},
        #{gender},
        #{phone},
        #{degree},
        #{clazzId},
        #{idCard},
        <if test="isCollege != null">#{isCollege},</if>
        <if test="address != null">#{address},</if>
        <if test="graduationDate != null">#{graduationDate},</if>
    </trim>

    </insert>
    <update id="updateStu">
        update student
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="no != null and no != ''"> no = #{no},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="idCard != null">id_card = #{idCard},</if>
            <if test="isCollege != null">is_college = #{isCollege},</if>
            <if test="degree != null">degree = #{degree},</if>
                <if test="clazzId != null">clazz_id = #{clazzId},</if>
                <if test="address != null and address != ''">address = #{address},</if>
                <if test="graduationDate != null">graduation_date = #{graduationDate},</if>
                <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="violationCount != null">violation_count = #{violationCount},</if>
            <if test="violationScore != null">violation_score = #{violationScore},</if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteByIds">
        delete from student where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="list" resultType="com.example.pojo.Student">
        SELECT
            s.*,
            c.name AS clazzName
        FROM student s
        LEFT JOIN clazz c ON s.clazz_id = c.id
        <where>
            <if test="name != null and name != ''">
                AND s.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="degree != null">
                AND s.degree = #{degree}
            </if>
            <if test="clazzId != null">
                AND s.clazz_id = #{clazzId}
            </if>

        </where>
    </select>
    <select id="findById" resultType="com.example.pojo.Student">
        SELECT
            s.*,
            c.name AS clazzName
        FROM student s
        LEFT JOIN clazz c ON s.clazz_id = c.id
        WHERE s.id = #{id}
    </select>
</mapper>